/* Colors */
/* Fonts */
/* Fonts sizes */
/* Fonts weights */
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1 {
  -ms-flex: 0 0 8.33333%;
      flex: 0 0 8.33333%;
  max-width: 8.33333%;
}

.col-2 {
  -ms-flex: 0 0 16.66667%;
      flex: 0 0 16.66667%;
  max-width: 16.66667%;
}

.col-3 {
  -ms-flex: 0 0 25%;
      flex: 0 0 25%;
  max-width: 25%;
}

.col-4 {
  -ms-flex: 0 0 33.33333%;
      flex: 0 0 33.33333%;
  max-width: 33.33333%;
}

.col-5 {
  -ms-flex: 0 0 41.66667%;
      flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

.col-6 {
  -ms-flex: 0 0 50%;
      flex: 0 0 50%;
  max-width: 50%;
}

.col-7 {
  -ms-flex: 0 0 58.33333%;
      flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

.col-8 {
  -ms-flex: 0 0 66.66667%;
      flex: 0 0 66.66667%;
  max-width: 66.66667%;
}

.col-9 {
  -ms-flex: 0 0 75%;
      flex: 0 0 75%;
  max-width: 75%;
}

.col-10 {
  -ms-flex: 0 0 83.33333%;
      flex: 0 0 83.33333%;
  max-width: 83.33333%;
}

.col-11 {
  -ms-flex: 0 0 91.66667%;
      flex: 0 0 91.66667%;
  max-width: 91.66667%;
}

.col-12 {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
}

@media (max-width: 767px) {
  .col-sm-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-sm-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-sm-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-sm-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-sm-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-sm-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-sm-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-sm-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-sm-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-md-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-md-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-md-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-md-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-md-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-md-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-md-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-lg-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-lg-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-lg-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-lg-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-lg-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-lg-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-lg-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-lg-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .col-xl-1 {
    -ms-flex: 0 0 8.33333%;
        flex: 0 0 8.33333%;
    max-width: 8.33333%;
  }
  .col-xl-2 {
    -ms-flex: 0 0 16.66667%;
        flex: 0 0 16.66667%;
    max-width: 16.66667%;
  }
  .col-xl-3 {
    -ms-flex: 0 0 25%;
        flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    -ms-flex: 0 0 33.33333%;
        flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
  .col-xl-5 {
    -ms-flex: 0 0 41.66667%;
        flex: 0 0 41.66667%;
    max-width: 41.66667%;
  }
  .col-xl-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    -ms-flex: 0 0 58.33333%;
        flex: 0 0 58.33333%;
    max-width: 58.33333%;
  }
  .col-xl-8 {
    -ms-flex: 0 0 66.66667%;
        flex: 0 0 66.66667%;
    max-width: 66.66667%;
  }
  .col-xl-9 {
    -ms-flex: 0 0 75%;
        flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    -ms-flex: 0 0 83.33333%;
        flex: 0 0 83.33333%;
    max-width: 83.33333%;
  }
  .col-xl-11 {
    -ms-flex: 0 0 91.66667%;
        flex: 0 0 91.66667%;
    max-width: 91.66667%;
  }
  .col-xl-12 {
    -ms-flex: 0 0 100%;
        flex: 0 0 100%;
    max-width: 100%;
  }
}

body {
  font-family: "Roboto", sans-serif;
}

.main {
  padding-left: 220px;
}

@media (max-width: 1020px) {
  .main {
    padding-left: 0;
  }
}

/* Generated by Glyphter (http://www.glyphter.com) on  Tue Aug 01 2017*/
@font-face {
  font-family: 'Glyphter';
  src: url("../fonts/Glyphter.eot");
  src: url("../fonts/Glyphter.eot?#iefix") format("embedded-opentype"), url("../fonts/Glyphter.woff") format("woff"), url("../fonts/Glyphter.ttf") format("truetype"), url("../fonts/Glyphter.svg#Glyphter") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class*='icon-']:before {
  display: inline-block;
  font-family: 'Glyphter';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
  content: '\0041';
}

.icon-arrow-down-small:before {
  content: '\0042';
}

.icon-arrow-left:before {
  content: '\0043';
}

.icon-arrow-right:before {
  content: '\0044';
}

.icon-arrow-up:before {
  content: '\0045';
}

.icon-arrow-up-small:before {
  content: '\0046';
}

.icon-banners:before {
  content: '\0047';
}

.icon-calendar:before {
  content: '\0048';
}

.icon-close:before {
  content: '\0049';
}

.icon-details:before {
  content: '\004a';
}

.icon-general:before {
  content: '\004b';
}

.icon-links:before {
  content: '\004c';
}

.icon-login:before {
  content: '\004d';
}

.icon-message:before {
  content: '\004e';
}

.icon-negative:before {
  content: '\004f';
}

.icon-notification:before {
  content: '\0050';
}

.icon-password:before {
  content: '\0051';
}

.icon-payout:before {
  content: '\0052';
}

.icon-personaldata:before {
  content: '\0053';
}

.icon-positive:before {
  content: '\0054';
}

.icon-postback:before {
  content: '\0055';
}

.icon-profile:before {
  content: '\0056';
}

.icon-quit:before {
  content: '\0057';
}

.icon-refresh:before {
  content: '\0058';
}

.icon-show:before {
  content: '\0059';
}

.icon-trash:before {
  content: '\005a';
}

.icon-url:before {
  content: '\0061';
}

.icon-wallet:before {
  content: '\0062';
}

/* Components */
[class^="typo"] {
  margin: 0;
}

.typo-page-header {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #a6a6a6;
  text-transform: uppercase;
}

.typo-section-header {
  font-size: 16px;
  font-weight: 700;
  color: #a6a6a6;
}

.typo-text {
  font-size: 14px;
  font-weight: 300;
  color: #333333;
}

.typo-link {
  text-decoration: none;
  font-weight: 300;
  color: #56819f;
}

.typo-link a {
  text-decoration: none;
  font-weight: 300;
  color: #56819f;
}

.typo-link a:hover {
  color: #ffa200;
}

.typo-link:hover {
  color: #ffa200;
}

.typo-link-lg {
  font-size: 16px;
}

.typo-link-sm {
  font-size: 13px;
}

.btn {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 9px 20px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
  background-position: 100% 0;
  margin: 20px;
}

.btn-icon {
  margin-left: 13px;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  width: 40px;
  background-color: #f58220;
  color: white;
}

.btn-icon i {
  margin: auto;
}

.btn-orange {
  background-color: #f58220;
}

.btn-orange:hover {
  background-color: #ffa200;
}

.btn-grey {
  background-color: #979797;
}

.btn-grey:hover {
  background-color: #bababa;
}

.btn-disabled {
  background-color: #bababa;
}

.btn-with-icon {
  padding-left: 10px;
}

.btn-with-icon i {
  font-size: 12px;
}

.btn-with-icon [class*="icon-"]:before {
  width: 3em;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #bababa;
}

.checkbox-container .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #979797;
}

.checkbox-container input:checked ~ .checkmark {
  background-color: #f58220;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.tab-container {
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 122px;
  height: 44px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
}

.tab-container p {
  display: -ms-flexbox;
  display: flex;
  margin-left: 46px;
}

.tab-container input {
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.tab-container input:checked ~ .background {
  outline: 0px;
  background-color: #f2f2f2;
  z-index: -1;
}

.tab-container input:checked ~ .background:after {
  display: block;
}

.tab-container .dot {
  position: absolute;
  height: 15px;
  width: 15px;
  margin-left: 15px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.tab-container .background {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
}

.tab-container .background:after {
  content: "";
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
}

.tab-container:hover {
  background-color: #f2f2f2;
}

.input {
  width: 158px;
  padding: 16px 18px;
  border: 2px solid #bababa;
  border-radius: 4px;
  font-size: 12px;
}

.input:focus {
  outline: none;
}

.input:hover {
  border-color: #bababa;
}

.input-textarea {
  height: 123px;
  box-sizing: border-box;
  resize: none;
}

.input-text {
  height: 40px;
}

.input-password {
  position: relative;
}

.input-invalid {
  border: 3px solid #ff0000;
}

.div-input-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.div-input-icon .input-icon {
  padding-left: 50px;
}

.div-input-icon i {
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -ms-flex-align: center;
      align-items: center;
  color: #a6a6a6;
  margin-left: 15px;
  z-index: 1;
}

.select {
  width: 158px;
  padding: 16px 18px;
  border: 2px solid #bababa;
  border-radius: 4px;
  font-size: 12px;
}

.date-picker {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  background: #ffffff;
  cursor: pointer;
  padding: 5px 10px;
  border: 3px solid #bababa;
  width: 325px;
  height: 40px;
}

.date-picker:hover {
  border-color: #bababa;
}

.cancelBtn {
  background-color: #ff0000;
}

.applyBtn {
  background-color: #008000;
}

.table {
  border-collapse: collapse;
  margin: auto;
  padding: 0;
  width: 100%;
}

.table-with-link .table-row {
  border-top: 1px solid #bababa;
}

.table-with-link .table-row td {
  padding: 20px 0;
}

.table-with-link .table-col-name {
  min-width: 250px;
  padding-left: 10px;
}

.table-with-link .table-col-website {
  min-width: 250px;
}

.table-with-link .table-col-icon {
  min-width: 150px;
  text-align: center;
}

.table-with-link .table-col-icon i {
  display: none;
}

.table-with-link .table-col-icon i:before {
  width: 3em;
}

.table-with-link tr:hover {
  background: #f2f2f2;
}

.table-with-link tr:hover .table-col-icon i {
  display: inline;
}

.list-with-one-digit {
  display: block;
}

.list-with-one-digit .list-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  border-bottom: 1px solid #bababa;
  height: 30px;
  width: calc(50% - 40px);
  margin: 20px;
}

.list-with-one-digit .list-col-name {
  min-width: 200px;
}

.list-with-one-digit .list-col-digit {
  min-width: 30px;
  text-align: right;
}

.list-with-one-digit .list-col-gutter {
  border-bottom: 1px solid white;
  min-width: 30px;
}

.data-table {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  margin-top: 30px;
}

.data-table .table-column-description {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  padding-left: 20px;
  color: #a6a6a6;
}

.data-table .table-column-description i {
  padding-left: 15px;
  padding-right: 15px;
  color: transparent;
}

.data-table table {
  width: 95%;
  border-spacing: 0;
}

.data-table table thead {
  margin-bottom: 20px;
}

.data-table table thead th {
  border-bottom: 1px solid #bababa;
  text-align: left;
  font-weight: bold;
  margin: 20px 0;
}

.data-table table thead th:hover .table-column-description {
  cursor: pointer;
  background: #f2f2f2;
}

.data-table table thead th:hover .table-column-description p, .data-table table thead th:hover .table-column-description i {
  color: black;
}

.data-table table tbody tr td {
  padding: 20px 15px;
  border-bottom: 1px solid #bababa;
}

.data-table table tbody tr:hover {
  background: #f2f2f2;
  cursor: pointer;
}

.table-page-selector {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding: 20px 0;
}

.table-page-selector i {
  padding: 10px;
  cursor: pointer;
}

.table-page-selector ul {
  margin: 0;
  padding: 0;
}

.table-page-selector ul li {
  display: inline-block;
  padding: 20px;
  font-size: 20px;
  color: #a6a6a6;
  font-weight: 600;
}

.table-page-selector ul .active-page {
  background: #f2f2f2;
}

.table-page-selector ul li:hover {
  background: #f2f2f2;
  cursor: pointer;
}

@media (min-width: 1381px) and (max-width: 1640px) {
  .data-table .table-column-description {
    padding: 0;
  }
  table td {
    padding: 20px 0 !important;
  }
}

@media (max-width: 1380px) {
  .data-table table, .data-table thead, .data-table tbody, .data-table th, .data-table td, .data-table tr {
    display: block;
  }
  .data-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }
  .data-table tr {
    margin: 0 0 1rem 0;
  }
  .data-table tr:nth-child(odd) {
    background: #ccc;
  }
  .data-table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 5px 0 !important;
    padding-left: 50% !important;
  }
  .data-table td:before {
    position: absolute;
    top: 0;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
  .data-table td:before {
    font-weight: 700;
    padding: 5px;
  }
  .table-details td:nth-of-type(1):before {
    content: "Tracker name";
  }
  .table-details td:nth-of-type(2):before {
    content: "Initiated date";
  }
  .table-details td:nth-of-type(3):before {
    content: "Visits";
  }
  .table-details td:nth-of-type(4):before {
    content: "Unique";
  }
  .table-details td:nth-of-type(5):before {
    content: "Signups";
  }
  .table-details td:nth-of-type(6):before {
    content: "FTD";
  }
  .table-details td:nth-of-type(7):before {
    content: "Depositors";
  }
  .table-details td:nth-of-type(8):before {
    content: "Deposits ($)";
  }
  .table-details td:nth-of-type(9):before {
    content: "Payout (%)";
  }
  .table-details td:nth-of-type(10):before {
    content: "Turnover";
  }
  .table-details td:nth-of-type(11):before {
    content: "Deal";
  }
  .table-payout td:nth-of-type(1):before {
    content: "Date";
  }
  .table-payout td:nth-of-type(2):before {
    content: "Amount ($)";
  }
  .table-payout td:nth-of-type(3):before {
    content: "Deal";
  }
  .table-payout td:nth-of-type(4):before {
    content: "Account";
  }
}

@media (max-width: 720px) {
  .table-with-link .table-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .table-with-link .table-row td {
    padding: 10px 0;
  }
  .table-with-link .table-col-name {
    padding: 1px;
    text-align: center;
  }
  .table-col-website {
    text-align: center;
  }
  .table-page-selector i {
    padding: 10px;
  }
  .table-page-selector ul li {
    padding: 10px;
  }
}

@media (max-width: 425px) {
  .table-page-selector i {
    padding: 5px;
  }
  .table-page-selector ul li {
    padding: 5px;
  }
}

.slider-container {
  position: relative;
}

.slider-container .bar {
  position: absolute;
  z-index: 1;
  left: 15px;
  right: 15px;
  top: 7px;
  height: 10px;
  background-color: #bababa;
  overflow: hidden;
}

.slider-container .bar .fill {
  display: block;
  width: 50%;
  height: 100%;
  background-color: #f58220;
}

.slider-container .box-minmax {
  position: absolute;
  top: -20%;
  left: 15px;
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  font-size: 14px;
  color: #979797;
}

.slider-container .box-minmax span:nth-child(2) {
  margin-right: 30px;
}

.slider-container .slider {
  position: relative;
  z-index: 2;
  -webkit-appearance: none;
  margin: 0;
  width: 100%;
  height: 10px;
  outline: none;
  background-color: transparent;
}

.slider-container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  background-color: #f58220;
  -webkit-clip-path: polygon(50% 0, 0 100%, 100% 100%);
          clip-path: polygon(50% 0, 0 100%, 100% 100%);
  transform: translate(0%, 100%);
  cursor: pointer;
  outline: none;
}

.slider-container .rs-label {
  position: relative;
  transform-origin: center center;
  display: inline-block;
  background: transparent;
  text-align: center;
  padding-left: 25px;
  padding-top: 45px;
  box-sizing: border-box;
  left: attr(value);
  transform: translateX(-50%);
  color: #333333;
  font-size: 14px;
}

.notification-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 240px;
  height: 44px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  border: solid 1px #000000;
  color: white;
}

.notification-container p {
  position: relative;
  left: -15px;
}

.positive-notification {
  background-color: #96CC9B;
}

.positive-notification:hover {
  background-color: #74B67A;
}

.negative-notification {
  background-color: #EC7171;
}

.negative-notification:hover {
  background-color: #DE5252;
}

.popup-overlay {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
  z-index: 4;
}

.popup-overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: auto;
  background: #ffffff;
  border-radius: 5px;
  position: relative;
  transition: all 5s ease-in-out;
}

.popup .popup-title {
  border-bottom: 1px solid #bababa;
  padding: 20px;
}

.popup .popup-title p {
  margin: 0;
  color: #979797;
  font-weight: 700;
}

.popup .popup-description {
  border-bottom: 1px solid #bababa;
  padding: 30px 20px;
}

.popup .popup-description p {
  margin: 0;
  color: #979797;
  font-weight: 500;
}

.popup .buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
}

.popup-quit {
  min-width: 20%;
}

.popup-login {
  min-width: 620px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.popup-login .inputs-buttons {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 20px;
}

.popup-login .inputs-buttons .btn {
  min-width: 30%;
}

.popup-login .inputs-buttons form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
}

.popup-login .inputs-buttons form .input {
  margin-right: 20px;
}

@media (max-width: 670px) {
  .popup-login {
    min-width: 35%;
  }
  .popup-login .inputs-buttons {
    -ms-flex-pack: center;
        justify-content: center;
  }
  .popup-login .inputs-buttons form {
    -ms-flex-direction: column  !important;
        flex-direction: column  !important;
  }
  .popup-login .inputs-buttons form .input {
    margin: 0;
    margin-bottom: 10px;
  }
}

/* Sections */
.section-sidebar {
  height: 100%;
  width: 220px;
  position: fixed;
  background: #191919;
}

.section-sidebar .close-menu-button {
  display: none;
  font-size: 30px;
  color: #ffffff;
  right: 10px;
}

.section-sidebar .sidebar-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.section-sidebar .sidebar-header .logo-box {
  margin: 18px 0 18px 20px;
  padding-right: 0;
  font-size: 28px;
  font-family: "Dancing Script", cursive;
  font-weight: 300;
  color: white;
}

.section-sidebar .sidebar-nav {
  display: block;
  position: relative;
  padding-bottom: 20px;
  border-bottom: 2px solid #979797;
}

.section-sidebar .sidebar-nav .active {
  background-color: #f58220 !important;
  color: white !important;
}

.section-sidebar .sidebar-nav a {
  display: block;
  text-decoration: none;
  color: #a6a6a6;
  font-size: 14px;
  padding: 20px 0;
}

.section-sidebar .sidebar-nav a:hover {
  background-color: #707070;
  color: white;
}

.section-sidebar .sidebar-nav i {
  font-size: 16px;
  margin-right: 13px;
  margin-left: 20px;
}

.section-sidebar .sidebar-communicator {
  display: block;
  position: relative;
  margin-left: 20px;
  margin-top: 20px;
}

.section-sidebar .sidebar-communicator > p {
  color: #808080;
  font-weight: 500;
}

.section-sidebar .sidebar-communicator .avatar {
  margin-top: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
}

.section-sidebar .sidebar-communicator .avatar .image {
  position: relative;
}

.section-sidebar .sidebar-communicator .avatar .image img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.section-sidebar .sidebar-communicator .avatar .image .badge {
  height: 10px;
  width: 10px;
  position: absolute;
  right: 20%;
  border-radius: 50%;
  background-color: #04AE00;
  color: white;
}

.section-sidebar .sidebar-communicator .avatar .avatar-description {
  color: #808080;
}

@media (max-width: 1020px) {
  .section-sidebar {
    display: none;
    position: fixed;
  }
  .section-sidebar .close-menu-button {
    display: block;
  }
}

.main-header {
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #bababa;
  padding: 0;
  background: white;
  z-index: 2;
}

.main-header .hamburger {
  display: none;
  -ms-flex-align: center;
      align-items: center;
  margin: auto 10px;
}

.main-header .hamburger i {
  color: #000000;
}

.main-header .navigation {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  height: 60px;
  overflow: auto;
  color: #979797;
}

.main-header .navigation a {
  -ms-flex-align: center;
      align-items: center;
  height: 100%;
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding: 0 20px;
  border-left: 1px solid #bababa;
  color: #979797;
}

.main-header .navigation a i {
  color: #979797;
}

.main-header .navigation .notification {
  position: relative;
}

.main-header .navigation .notification .badge {
  height: 7px;
  width: 7px;
  position: absolute;
  top: 18px;
  right: 21px;
  border-radius: 50%;
  background-color: #f58220;
}

.main-header .navigation .header-budget {
  font-size: 20px;
  font-weight: 500;
}

.main-header .navigation .header-budget p {
  margin: auto 15px;
}

.main-header .navigation .header-user i {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  margin: 0;
  margin-right: 20px;
  padding: 0;
  width: 23px;
  height: 23px;
  border: solid 1px #9c9c9c;
  border-radius: 50%;
}

@media (max-width: 1020px) {
  .hamburger {
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 460px) {
  .navigation *:not(.icon-on-small) {
    display: none;
  }
  .navigation .header-user i {
    margin-right: 0 !important;
  }
}

.content {
  background: #f2f2f2;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.content .box {
  -ms-flex: 4;
      flex: 4;
  min-height: 60vh;
  background: white;
  margin: 18px;
  margin-bottom: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
}

.content .box .box-title {
  padding: 17px;
  border-bottom: 1px solid #bababa;
}

article {
  display: none;
}

.article-active {
  display: block;
}

/* Pages / Views */
.date-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  height: 100px;
  border-bottom: 1px solid #e3e3e3;
  padding: 0 10px;
}

.chart-description {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  margin: auto;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  padding-top: 35px;
}

.chart-description table {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.chart {
  padding: 77px 0 50px 0;
  margin: auto;
}

.chart .labels {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
}

.chart .labels .tab-container {
  margin-right: 42px;
}

.chart .labels .tab-container:nth-child(2) .dot {
  background-color: #ff9a38;
}

.chart .labels .tab-container:nth-child(3) .dot {
  background-color: #59b66d;
}

.chart .myChart {
  padding-top: 70px;
}

.general-links .box-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.general-links .box-content .links-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

@media (max-width: 1330px) {
  .chart-description {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center !important;
        align-items: center !important;
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .chart-description .list-row {
    width: 100%;
    margin: 20px 0;
  }
}

@media (max-width: 670px) {
  .chart {
    text-align: center;
    margin: auto;
  }
}

@media (max-width: 520px) {
  .chart-description {
    max-width: 80%;
  }
  .chart .myChart {
    height: 60vh !important;
  }
  .chart .labels {
    margin-top: 20px;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    transform: translateX(21px);
  }
}

.banners .box-content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}

.banners .box-content .banners-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
}

.user-info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
}

.user-info form {
  width: 40%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 20px;
}

.user-info .form-section {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border-bottom: 1px solid #bababa;
}

.user-info .form-section > div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-align: center;
      align-items: center;
  width: 100%;
  padding-bottom: 20px;
}

.user-info .form-section > div input {
  width: 250px;
}

.user-info .form-section > div label {
  -ms-flex-align: start;
      align-items: flex-start;
  color: #a6a6a6;
  font-weight: 600;
}

@media (max-width: 1150px) {
  .user-info form {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .user-info .form-section div {
    -ms-flex-direction: column;
        flex-direction: column;
  }
}

.postback-title {
  padding: 30px 20px 0 20px;
}

.postback-textareas {
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px 30px 30px;
}

.postback-textareas div {
  width: 50%;
}

.postback-textareas div p {
  color: #a6a6a6;
  font-weight: 700;
}

.postback-textareas div textarea {
  width: 100%;
  height: 20vh;
}

.postback-textareas div:first-child {
  margin-right: 20px;
}

.postback-lists {
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px 30px 30px;
  border-bottom: 1px solid #bababa;
}

.postback-lists div {
  width: 33%;
  margin-right: 20px;
}

.postback-lists div select {
  width: 100%;
}

.postback-lists div p {
  color: #a6a6a6;
  font-weight: 700;
}

.postback-lists div:last-child {
  margin: 0;
}

.postback-parameters {
  display: -ms-flexbox;
  display: flex;
  padding: 0 30px 0px 30px;
  border-bottom: 1px solid #bababa;
}

.postback-parameters .postback-statutes,
.postback-parameters .postback-time {
  width: 50%;
}

.postback-parameters .postback-statutes {
  border-right: 1px solid #bababa;
}

.postback-parameters .postback-statutes span:first-child {
  color: red;
  font-weight: 600;
}

.postback-parameters .postback-statutes .statuses {
  max-height: 200px;
  overflow: auto;
}

.postback-parameters .postback-statutes .statuses ul {
  list-style-type: none;
  padding-left: 10px;
  margin: 0;
}

.postback-parameters .postback-statutes .statuses ul li {
  padding-bottom: 10px;
}

.postback-parameters .postback-statutes .statuses ul li input {
  margin-right: 15px;
}

.postback-parameters .postback-time {
  margin-left: 20px;
}

.postback-parameters .postback-time p {
  padding-bottom: 20px;
}

.postback-parameters .postback-time .slider-container {
  margin: 0;
}

.postback-parameters .slider-container {
  width: 100%;
}

.postback-parameters p {
  color: #a6a6a6;
  font-weight: 700;
}

.postback-btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

@media (max-width: 765px) {
  .postback-title {
    text-align: center;
  }
  .postback-textareas {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .postback-textareas div {
    width: 90%;
  }
  .postback-textareas div:first-child {
    margin-right: 0px;
  }
  .postback-lists {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
  }
  .postback-lists div {
    width: 65%;
    margin: 0;
  }
  .postback-parameters {
    -ms-flex-direction: column;
        flex-direction: column;
  }
  .postback-parameters .postback-statutes, .postback-parameters .postback-time {
    width: 100%;
    margin: 0;
  }
  .postback-parameters .postback-statutes {
    text-align: center;
  }
  .postback-parameters .postback-statutes {
    border-right-color: transparent;
    text-align: center;
  }
  .postback-parameters .postback-statutes .statuses {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .postback-parameters .postback-statutes .statuses ul {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
  }
}
/*# sourceMappingURL=style.css.map */