/* Colors */
$first-text-color: #a6a6a6;
$second-text-color: #333333;
$grey-color: #979797;
$light-grey-color: #e3e3e3;
$links-color: #56819f;
$light-orange-color: #ffa200;
$white-color: #ffffff;
$orange-color: #f58220;
$light-grey-color: #bababa;
$green-color: #008000;
$red-color: #ff0000;
$white-smoke-color: #f2f2f2;
$black-color: #000000;
$notification-positive-color: #96CC9B;
$notification-positive-color-hover: #74B67A;
$notification-negative-color: #EC7171;
$notification-negative-color-hover:#DE5252;
$section-sidebar-background-color: #191919;

/* Fonts */

$roboto-font: 'Roboto', sans-serif;
$logo-font:'Dancing Script', cursive;

/* Fonts sizes */

$big-font-size: 16px;
$text-font-size: 14px;

/* Fonts weights */

$light-font-weight: 300;
$medium-font-weight: 500;
$bold-font-weight: 700;