.date-picker {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $white-color;
    cursor: pointer;
    padding: 5px 10px;
    border: 3px solid $light-grey-color;
    width: 325px;
    height: 40px;
}

.date-picker:hover {
    border-color: $light-grey-color;
}

.cancelBtn {
    background-color: $red-color;
}

.applyBtn {
    background-color: $green-color;
}
