.tab-container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  width: 122px;
  height: 44px;
  cursor: pointer;
  font-size: 14px;
  font-weight: $light-font-weight;
  font-family: $roboto-font;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;

  p {
      display: flex;
      margin-left: 46px;
  }

  input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  input:checked ~ .background {
    outline: 0px;
    background-color: $white-smoke-color;
    z-index: -1;
  }

  input:checked ~ .background:after {
    display: block;
  }

  .dot {
    position: absolute;
    height: 15px;
    width: 15px;
    margin-left: 15px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }
  
  .background {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
  }
  
  .background:after {
    content: "";
    display: flex;
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
  }
}

.tab-container:hover {
  background-color: $white-smoke-color;
}

