.notification-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 240px;
    height: 44px;
    cursor: pointer;
    font-size: 14px;
    font-weight: $light-font-weight;
    font-family: $roboto-font;
    border: solid 1px $black-color;
    color: white;

    p {
        position: relative;
        left: -15px;
    }
}

.positive-notification {
    background-color: $notification-positive-color;
}

.positive-notification:hover {
    background-color: $notification-positive-color-hover;
}

.negative-notification {
    background-color: $notification-negative-color;
}

.negative-notification:hover {
    background-color: $notification-negative-color-hover;
}



    