.btn {
  display: inline-block;
  border: 0;
  border-radius: 4px;
  color: $white-color;
  width: fit-content;
  padding: 9px 20px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  font-family: $roboto-font;
  font-size: 18px;
  font-weight: $light-font-weight;
  background-position: 100% 0;
  margin: 20px;
}

.btn-icon {
  margin-left: 13px;
  display: flex;
  height: 40px;
  width: 40px;
  background-color: $orange-color;
  color: white;

  i {
    margin: auto;
  }
}

.btn-orange {
  background-color: $orange-color;
}

.btn-orange:hover {
  background-color: $light-orange-color;
}

.btn-grey {
  background-color: $grey-color;
}

.btn-grey:hover {
  background-color: $light-grey-color;
}

.btn-disabled {
  background-color: $light-grey-color;
}

.btn-with-icon {
  padding-left: 10px;

  i {
    font-size: 12px;
  }

  [class*="icon-"]:before {
    width: 3em;
  }
}
