.popup-overlay {
    position: fixed;
    display: flex;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 4;
}

.popup-overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: auto;
    background: $white-color;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;

    .popup-title {
        border-bottom: 1px solid $light-grey-color;
        padding: 20px;

        p {
            margin: 0;
            color: $grey-color;
            font-weight: $bold-font-weight;
        }
    }
    .popup-description {
        border-bottom: 1px solid $light-grey-color;
        padding: 30px 20px;

        p {
            margin: 0;
            color: $grey-color;
            font-weight: $medium-font-weight;
        }
    }

    .buttons {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
        padding: 0 20px;
    }
}

.popup-quit {
    min-width: 20%;
}

.popup-login {
    min-width: 620px;
    width: fit-content;

    .inputs-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 20px;

        .btn {
            min-width: 30%;
        }

        form {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;            

            .input {
                margin-right: 20px;
            }
        }
    }
}



@media(max-width: 670px) {
    .popup-login {
        min-width: 35%;
        .inputs-buttons {
            justify-content: center;

            form {            
                flex-direction: column  !important;

                .input {
                    margin: 0;
                    margin-bottom: 10px;
                }
            }
        }        
    }
}
