[class^="typo"] {
  margin: 0;
}

.typo-page-header {
  font-family: $roboto-font;
  font-size: $big-font-size;
  font-weight: $medium-font-weight;
  color: $first-text-color;
  text-transform: uppercase;
}

.typo-section-header {
  font-size: $big-font-size;
  font-weight: $bold-font-weight;
  color: $first-text-color;
}

.typo-text {
  font-size: $text-font-size;
  font-weight: $light-font-weight;
  color: $second-text-color;
}

.typo-link {
  text-decoration: none;
  font-weight: $light-font-weight;
  color: $links-color;

  a {
    text-decoration: none;
    font-weight: $light-font-weight;
    color: $links-color;
  }

  a:hover {
    color: $light-orange-color;
  }
}
  
.typo-link:hover {
  color: $light-orange-color;
}
  
.typo-link-lg {
  font-size: 16px;
}
  
.typo-link-sm {
  font-size: 13px;
}