.slider-container {
    position: relative;

    .bar {
        position: absolute;
        z-index: 1;
        left: 15px;
        right: 15px;
        top: 7px;
        height: 10px;
        background-color: $light-grey-color;
        overflow: hidden;

        .fill {
            display: block;
            width: 50%;
            height: 100%;
            background-color: $orange-color;
        }
    }

    .box-minmax {
        position: absolute;
        top: -20%;
        left: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 14px;
        color: $grey-color;

        span:nth-child(2) {
            margin-right: 30px;
        }
    }

    .slider {
        position: relative;
        z-index: 2;
        -webkit-appearance: none;
        margin: 0;
        width: 100%;
        height: 10px;
        outline: none;
        background-color: transparent;
    }

    .slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 30px;
        height: 30px;
        background-color: $orange-color;
        clip-path: polygon(50% 0, 0 100%, 100% 100%);
        transform: translate(0%, 100%);
        cursor: pointer;
        outline: none;
    }

    .rs-label {
        position: relative;
        transform-origin: center center;
        display: inline-block;
        background: transparent;
        text-align: center;
        padding-left: 25px;
        padding-top: 45px;
        box-sizing: border-box;
        left: attr(value);
        transform: translateX(-50%);
        color: $second-text-color;
        font-size: 14px;
    }
}
