.table {
    border-collapse: collapse;
    margin: auto;
    padding: 0;
    width: 100%;
}

.table-with-link {
    .table-row {
        border-top: 1px solid $light-grey-color;
        
        td {
            padding: 20px 0 ;
        }        
    }

    .table-col-name {
        min-width: 250px;
        padding-left: 10px;
    }

    .table-col-website {
        min-width: 250px;
    }

    .table-col-icon {
        min-width: 150px;
        text-align: center;

        i {
            display: none;
        }

        i:before {
            width: 3em;
        }
    }
}

.table-with-link tr:hover {
    background: $white-smoke-color;

    .table-col-icon i {
        display: inline;
    }
}

.list-with-one-digit {
    display: block;

    .list-row {
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $light-grey-color;
        height: 30px;
        width: calc(50% - 40px);
        margin: 20px;
    }

    .list-col-name {
        min-width: 200px;
    }

    .list-col-digit {
        min-width: 30px;
        text-align: right;
    }

    .list-col-gutter {
        border-bottom: 1px solid white;
        min-width: 30px;
    }
}

.data-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

    .table-column-description {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 20px;
        color: $first-text-color;

        i {
            padding-left: 15px;
            padding-right: 15px;
            color: transparent;
        }
    }

    table {
        width: 95%;
        border-spacing: 0;

        thead {
            margin-bottom: 20px;

            th {
                border-bottom: 1px solid $light-grey-color;
                text-align: left;
                font-weight: bold;
                margin: 20px 0;
            }

            th:hover .table-column-description {
                cursor: pointer;
                background: $white-smoke-color;
                

                p, i {
                    color: black;
                }
            }
        }

        tbody {
            tr td {
                padding: 20px 15px;
                border-bottom: 1px solid $light-grey-color;
            }

            tr:hover {
                background: $white-smoke-color;
                cursor: pointer;
            }
        }
    }
}

.table-page-selector {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 20px 0;

    i {
        padding: 10px;
        cursor: pointer;
    }

    ul {
        margin: 0;
        padding: 0;

        li {
            display: inline-block;
            padding: 20px;
            font-size: 20px;
            color: $first-text-color;
            font-weight: 600;
        }

        .active-page {
            background: $white-smoke-color;
        }

        li:hover {
            background: $white-smoke-color;
            cursor: pointer;
        }
    }
}

@media(min-width: 1381px) and (max-width: 1640px) {
    .data-table {
        .table-column-description {
            padding: 0;
        }
    }

    table {
        td {
            padding: 20px 0 !important;
        }
    }
}

@media(max-width: 1380px) {

    .data-table {
        table, thead, tbody, th, td, tr {
            display: block;
        }
    
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
    
        tr {
        margin: 0 0 1rem 0;
        }
      
        tr:nth-child(odd) {
        background: #ccc;
        }
    
        td {
            border: none;
            border-bottom: 1px solid #eee;
            position: relative;
            padding: 5px 0 !important;
            padding-left: 50% !important;
        }
    
        td:before {
            position: absolute;
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }    
    
        td:before {
            font-weight: $bold-font-weight;
            padding: 5px;
        }
    }
    

    .table-details {
        td:nth-of-type(1):before { content: "Tracker name"; }
        td:nth-of-type(2):before { content: "Initiated date"; }
        td:nth-of-type(3):before { content: "Visits"; }
        td:nth-of-type(4):before { content: "Unique"; }
        td:nth-of-type(5):before { content: "Signups"; }
        td:nth-of-type(6):before { content: "FTD"; }
        td:nth-of-type(7):before { content: "Depositors"; }
        td:nth-of-type(8):before { content: "Deposits ($)"; }
        td:nth-of-type(9):before { content: "Payout (%)"; }
        td:nth-of-type(10):before { content: "Turnover"; }
        td:nth-of-type(11):before { content: "Deal"; }
    }

    .table-payout {
        td:nth-of-type(1):before { content: "Date"; }
        td:nth-of-type(2):before { content: "Amount ($)"; }
        td:nth-of-type(3):before { content: "Deal"; }
        td:nth-of-type(4):before { content: "Account"; }
    }
}

@media(max-width: 720px) {
    .table-with-link {
        .table-row {
            display: flex;
            flex-direction: column;
            align-items: center;
    
            td {
                padding: 10px 0 ;
            }
        }

        .table-col-name {
            padding: 1px;
            text-align: center;
        }
    }

    .table-col-website {
       text-align: center; 
    }

    .table-page-selector {
        i {
            padding: 10px;
        }

        ul {
            li {
                padding: 10px;
            }
        }
    }
}

@media(max-width: 425px) {
    .table-page-selector {
        i {
            padding: 5px;
        }
        
        ul {
            li {
                padding: 5px;
            }
        }
    }
}