.input {
    width: 158px;
    padding: 16px 18px;
    border: 2px solid $light-grey-color;
    border-radius: 4px;
    font-size: 12px;
}

.input:focus {
    outline: none;
}

.input:hover {
    border-color: $light-grey-color;
}

.input-textarea {    
    height: 123px;    
    box-sizing: border-box;     
    resize: none;
}

.input-text {
    height: 40px;
}

.input-password {
    position: relative;
    
}

.input-invalid {
    border: 3px solid $red-color;
}

.div-input-icon {
    display: flex;    
    align-items: center;
    
    .input-icon {
        padding-left: 50px;
    }

    i {
        display: flex;
        position: absolute;
        align-items: center;
        color: $first-text-color;
        margin-left: 15px;
        z-index:1;
    }
}

.select {
    width: 158px;
    padding: 16px 18px;
    border: 2px solid $light-grey-color;
    border-radius: 4px;
    font-size: 12px;
}