.date-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #e3e3e3;
    padding: 0 10px;    
}

.chart-description {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0;
    padding-top: 35px;

    table {
        display: flex;
        justify-content: center;        
    }
}

.chart {
    padding: 77px 0 50px 0;
    margin: auto;

    .labels {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .tab-container {
            margin-right: 42px;
        }

        .tab-container:nth-child(2) .dot {
            background-color: #ff9a38;
        }

        .tab-container:nth-child(3) .dot {
            background-color: #59b66d;
        }
    }

    .myChart {
        padding-top: 70px;
    }
}

.general-links .box-content {
    display: flex;
    justify-content: center;

    .links-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media(max-width: 1330px) {
    .chart-description {
        display: flex;
        align-items: center !important;
        flex-direction: column;
        

        .list-row {
            width: 100%;
            margin: 20px 0;
        }
    }
}

@media(max-width: 670px) {
    .chart {
        text-align: center;
        margin: auto;
    }
}

@media(max-width: 520px) {

    .chart-description {
        max-width: 80%;
    }
    .chart {
        .myChart {
            height: 60vh !important;
        }
        .labels {
            margin-top: 20px;
            flex-direction: column;
            align-items: center;
            transform: translateX(21px);
        }
    }
    
}