.postback-title {
    padding: 30px 20px 0 20px;
}

.postback-textareas {
    display: flex;
    padding: 0 30px 30px 30px;

    div {
        width: 50%;

        p {
            color: $first-text-color;
            font-weight: 700;
        }

        textarea {
            width: 100%;
            height: 20vh;
        }
    }

    div:first-child {
        margin-right: 20px;
    }
}

.postback-lists {
    display: flex;
    padding: 0 30px 30px 30px;
    border-bottom: 1px solid $light-grey-color;

    div {
        width: 33%;
        margin-right: 20px;

        select {
            width: 100%;
        }
        p {
            color: $first-text-color;
            font-weight: 700;
        }
    }

    div:last-child {
        margin: 0;
    }
}

.postback-parameters {
    display: flex;
    padding: 0 30px 0px 30px;
    border-bottom: 1px solid $light-grey-color;

    .postback-statutes,
    .postback-time {
        width: 50%;
    }

    .postback-statutes {
        border-right: 1px solid $light-grey-color;

        span:first-child {
            color: red;
            font-weight: 600;
        }

        .statuses {
            max-height: 200px;
            overflow: auto;

            ul {
                list-style-type: none;
                padding-left: 10px;
                margin: 0;

                li {
                    padding-bottom: 10px;

                    input {
                        margin-right: 15px;
                    }
                }
            }
        }
    }

    .postback-time {
        margin-left: 20px;

        p {
            padding-bottom: 20px;
        }

        .slider-container {
            margin: 0;
        }
    }

    .slider-container {
        width: 100%;
    }

    p {
        color: $first-text-color;
        font-weight: 700;
    }
}

.postback-btn {
    display: flex;
    justify-content: flex-end;
}

@media(max-width: 765px) { 

    .postback-title {
        text-align: center;
    }

    .postback-textareas {
        flex-direction: column;
        align-items: center;
        
        div {
            width: 90%;
        }

        div:first-child {
            margin-right: 0px;
        }
    }

    .postback-lists {
        flex-direction: column;
        align-items: center;

        div {
            width: 65%;
            margin: 0;
        }
    }

    .postback-parameters {
        flex-direction: column;

        .postback-statutes, .postback-time {
            width: 100%;
            margin: 0;   
        }

        .postback-statutes {
            text-align: center;
        }        

        .postback-statutes {
            border-right-color: transparent;
            text-align: center;

            .statuses {
                display: flex;
                justify-content: center;

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                }
            }                    
        }
    }
}