.user-info {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;

    form {
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-top: 20px;
    }

    .form-section {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-bottom: 20px;
        border-bottom: 1px solid $light-grey-color;

        >div {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            width: 100%;
            padding-bottom: 20px;

            input {
                width: 250px;
            }
    
            label {
                align-items: flex-start;
                color: $first-text-color;
                font-weight: 600;
            }
        }        
    }
}

@media(max-width: 1150px) {
    .user-info {
        form {
            width: 80%;
        }
    }
}

@media(max-width: 500px) {
    .user-info {
        .form-section {
            div {
            flex-direction: column;
            }  
        } 
    }
}