.main-header {
    display: flex;
    position: sticky;
    top: 0;
    border-bottom: 1px solid $light-grey-color;
    padding: 0;
    background: white;
    z-index: 2;

    .hamburger {  
        display: none;
        align-items: center;
        margin: auto 10px;
    
        i {
            color: $black-color;
        }
    }

    .navigation {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 60px;
        overflow: auto;
        color: $grey-color;

        

        a {
            align-items: center;
            height: 100%;
            text-decoration: none;
            display: flex;
            justify-content: space-between;
            padding: 0 20px;
            border-left: 1px solid $light-grey-color;
            color: $grey-color;

            i {
                color: $grey-color;
            }
        }
     

        .notification {
            position: relative;

            .badge {
                height: 7px;
                width: 7px;
                position: absolute;
                top: 18px;
                right: 21px;
                border-radius: 50%;
                background-color: #f58220;
            }
        }

        .header-budget {
            font-size: 20px;
            font-weight: $medium-font-weight;

           p {
               margin: auto 15px;
           }
        }

        .header-user {
            i {
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0;
                margin-right: 20px;
                padding: 0;
                width: 23px;
                height: 23px;
                border: solid 1px #9c9c9c;
                border-radius: 50%;
            }
        }
    }
}


@media(max-width: 1020px) {
    .hamburger {
        display: flex !important;
    }
}

@media(max-width: 460px) {
    .navigation {
        *:not(.icon-on-small) {
            display: none;
        }

        .header-user {
            i {
                margin-right: 0 !important;
            }
        }
    }
}
