.section-sidebar {
    height: 100%;
    width: 220px;
    position: fixed;
    background: $section-sidebar-background-color;

    .close-menu-button {
        display: none;        
        font-size: 30px;
        color: $white-color; 
        right: 10px;       
      }

    .sidebar-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .logo-box {
            margin: 18px 0 18px 20px;
            padding-right: 0;
            font-size: 28px;
            font-family: "Dancing Script", cursive;
            font-weight: 300;
            color: white;
        }
    }

    .sidebar-nav {
        display: block;
        position: relative;
        padding-bottom: 20px;
        border-bottom: 2px solid $grey-color;

        .active {
            background-color: $orange-color  !important;
            color: white !important;
        }

        a {
            display: block;
            text-decoration: none;
            color: #a6a6a6;
            font-size: 14px;
            padding: 20px 0;
        }

        a:hover {
            background-color: #707070;
            color: white;
        }

        i {
            font-size: 16px;
            margin-right: 13px;
            margin-left: 20px;
        }
    }

    .sidebar-communicator {
        display: block;
        position: relative;
        margin-left: 20px;
        margin-top: 20px;

        >p {
            color: #808080;
            font-weight: $medium-font-weight;    
        }

        .avatar {
            margin-top:10px;
            display: flex;
            flex-direction: row;
            align-items: center;

            .image {
                position: relative;

                img {
                    width: 50px;
                    height: 50px;
                    margin-right: 10px;
                }                
    
                .badge {
                    height: 10px;
                    width: 10px;
                    position: absolute;
                    right: 20%;
                    border-radius: 50%;
                    background-color: #04AE00;
                    color: white;
                }
            } 
            
            .avatar-description {
                color: #808080;
            }
        }  
    }
}

@media(max-width: 1020px) {
    .section-sidebar {
        display: none;
        position: fixed;

        .close-menu-button {
            display: block;
        }
    }
}
