.content {
    background: $white-smoke-color;
    display: flex;
    flex-direction: column;

    .box {
        flex: 4;
        min-height: 60vh;
        background: white;
        margin: 18px;
        margin-bottom: 22px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);

        .box-title {
            padding: 17px;
            border-bottom: 1px solid $light-grey-color;
        }
    }
}

article {
    display: none;
}

.article-active {
    display: block;
}
